<h1> Error message if statement here where if they don't have enough tickets or aren't tall enough it will show an error message</h1>
<h1>Name: <%= @user.name %> </h1>
<h1>Tickets: <%= @user.tickets %> </h1>
<h1>Mood: <%= @user.mood %> </h1>
<h1>Height: <%= @user.height %> </h1>
<%= link_to See attractions, index_attraction_path(attraction) %>
<%= link_to Log out, '/'' %>
