<h1>Welcome, <%= @user.name %>!</h1>
  
  Height: <%= @user.height %><br>
  Mood: <%= @user.mood %><br>
  Nausea: <%= @user.nausea %><br>
  Tickets: <%= @user.tickets %><br>
  ADMIN: <%= @user.admin %><br>