<h1>Attraction Show page!</h1>
  <ul>
    <li>Name: <%= @attraction.name %></li>
    <li>Tickets required: <%= @attraction.tickets %></li>
    <li>Nausea rating: <%= @attraction.nausea_rating %></li>
    <li>Happiness rating: <%= @attraction.happiness_rating %></li>
    <li>Minimum height: <%= @attraction.min_height %></li>
  </ul>

<%= form_for @ride do |f| %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :attraction_id %>
  <%= f.submit "Go on this ride" %>
<% end %><br>

<% if current_user.admin %>
  ADMINS ONLY: <%= link_to 'Edit Attraction', edit_attraction_path, class: "btn-primary" %>
<% end %>